/**
* ----------------------
* Un.titled
* Atoms - Event cancelled message
* ----------------------
*/

/**
* Config
*/

/**
* Styling
*/
.a-cancelled {
  width: 100%;
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--c-yellow);
  color: var(--c-primary);

  p {
    max-width: var(--containerWidth);
  }
}
