/**
* ----------------------
* Un.titled
* Atoms - Citations
* ----------------------
*/

/**
* Config
*/

/**
* Styling
*/
.a-cite {
  position: relative;

  a {
    @include linkReset;
  }

  &__number {
    font-size: var(--fontSmall);
    vertical-align: top;
    transition: color var(--transition);
  }

  &__description {
    display: none;
    visibility: hidden;
    position: absolute;
    padding: 0.5rem;
    background-color: var(--c-white);
    top: 100%;
    left: 0;
    max-width: 230px;
    font-size: var(--fontSmall);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &:focus,
  &:hover {
    .a-cite__number {
      color: var(--c-red);
    }
    .a-cite__description {
      display: block;
      visibility: visible;
    }
  }
}
