/**
 * ----------------------
 * Un.titled
 * Organisms - Header
 * ----------------------
 */

.o-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  padding: 1rem 2rem;

  @include media('<1100px') {
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
  }

  @include media('<sm') {
    padding: 1rem;
  }

  @include media('<xs') {
    padding: 0.5rem 15px;
  }

  &__nav {
    justify-self: start;

    @include media('<1100px') {
      display: none;
      visibility: hidden;
    }

    ul {
      @include li-reset;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
    }

    a {
      @include linkReset;
      text-decoration: none;
      margin-right: 1.25rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__logo {
    @include linkReset;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 100%;
      height: auto;
      max-width: 240px;
    }

    path {
      transition: fill var(--transition);
    }

    &:hover {
      path {
        fill: var(--c-red);
      }
    }
  }

  &__buttons {
    justify-self: end;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);

    @include media('<xs') {
      gap: 0;
    }

    button {
      border: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 42px;
      width: 42px;
      padding: 0 0.5rem;
      transition: background var(--transition);
      background-color: transparent;
      border-radius: 50%;

      svg {
        height: 20px;
        width: auto;
      }

      path {
        transition: stroke var(--transition);
      }

      &:hover {
        background-color: var(--c-primary);

        path {
          stroke: var(--c-white);
        }
      }
    }
  }

  h1 {
    margin-bottom: 0;
  }
}
