/**
* ----------------------
* Un.titled
* Molecules - Anchor nav
* ----------------------
*/

/**
* Config
*/

/**
* Styling
*/
.m-anchor-nav {
  &__links {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    a {
      @include linkReset;
      margin-bottom: 0.25rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Anchor scroll position offset
span[data-anchor] {
  margin-top: -50px;
  margin-bottom: 50px;
}
