/**
* ----------------------
* Un.titled
* Molecules - Event sidebar
* ----------------------
*/

/**
* Config
*/

/**
* Styling
*/
.m-event-sidebar {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .promo-copy {
    margin-bottom: 1rem;
  }

  .detail {
    border-top: 1px solid var(--c-primary);
    padding-top: 0.5rem;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &--bold {
      font-family: var(--fontBold);
      flex-wrap: nowrap;
    }

    &--copy {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      h2,
      h3,
      h4 {
        margin-bottom: 0.5rem;
      }
    }

    svg {
      margin-right: 0.5rem;
      width: 100%;
      height: 100%;
      max-width: 15px;
    }

    a {
      margin-right: 5px;
    }
  }
}
