/**
* ----------------------
* Un.titled
* Molecules - Homepage banner
* ----------------------
*/

/**
* Config
*/

@keyframes bannerIn {
  0% {
    opacity: 0;
    z-index: -1;
  }
  10% {
    opacity: 0;
    z-index: 1;
  }
  100% {
    opacity: 1;
    z-index: 1;
  }
}

@keyframes bannerOut {
  0% {
    opacity: 1;
    z-index: 1;
  }
  90% {
    opacity: 0;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

/**
* Styling
*/
.m-homepage-banner {
  position: relative;
  min-height: 60vh;
  width: 100%;

  figure {
    &.default-image {
      position: relative;
      height: 0;
      width: 100%;
      padding-top: 56.25%;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    a {
      @include linkReset;
    }
  }

  img {
    width: 100%;
    height: auto;
  }

  &__block-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity var(--transition);
    z-index: -1;

    &[data-visible='true'] {
      animation: bannerIn 0.2s ease-in-out forwards;
    }
    &[data-visible='false'] {
      animation: bannerOut 0.2s ease-in-out forwards;
    }
  }

  &__blocks {
    padding: 0 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;

    @include media('<lg') {
      padding: 0 3.5rem;
    }

    @include media('<sm') {
      grid-template-columns: 1fr;
      padding: 0;
    }
  }

  &__block {
    background-color: var(--c-white);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 2;
    margin-top: -14rem;
    transition: background-color var(--transition);

    @include media('<lg') {
      padding: 1rem;
      margin-top: -5rem;
    }

    @include media('<sm') {
      margin-top: 0;
    }

    .pre-title {
      margin-bottom: 0;
    }

    .a-links {
      justify-content: center;

      a {
        margin: 0 0.5rem;
      }
    }

    .a-btn {
      margin-top: 1rem;
    }

    &:hover {
      background-color: var(--c-teal);

      &:last-child {
        background-color: var(--c-purple);
      }
    }
  }
}
