/**
 * ----------------------
 * Un.titled
 * Molecules - Main nav
 * ----------------------
 */

.m-nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5vw;

  @include media('<md') {
    grid-template-columns: 1fr;
    gap: 0;
    padding-top: 2rem;
  }

  &__cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;

    @include media('<md') {
      grid-template-columns: 1fr;
      gap: 0;
      padding: 0 5vw;
    }

    @include media('<sm') {
      width: 100%;
      max-width: 300px;
      justify-self: center;

      &:first-of-type {
        padding-bottom: 3rem;
      }

      &:last-of-type {
        margin-top: 1rem;
      }
    }

    @include media('<xxs') {
      padding: 0 5vw;
    }

    .column {
      display: grid;
      gap: 3rem;
      align-items: start;

      @include media('<md') {
        gap: 0;
      }

      @include media('<sm') {
        margin: 0 auto;
        width: 100%;
      }
    }
  }

  &__info {
    @include media('<md') {
      .m-nav__social,
      h3,
      p {
        display: none;
        visibility: hidden;
      }
    }
    @include media('>=sm', '<md') {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__menu {
    @include media('<md') {
      order: -1;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }

    @include media('<sm') {
      grid-template-columns: 1fr;
      gap: 0;
      justify-content: center;
    }

    .primary {
      @include media('<sm') {
        order: 2;
      }

      a {
        color: var(--c-grey);

        &:hover {
          color: var(--c-secondary);
        }
      }
    }

    a {
      &:hover {
        color: var(--c-secondary);
      }
    }
  }

  h3 {
    font-family: var(--fontBody);
  }

  a:not(.a-btn) {
    @include linkReset;
    text-decoration: none;
  }

  .a-btn {
    margin-top: 1.5rem;
    max-width: 300px;

    @include media('<md') {
      max-width: 35vw;
    }

    @include media('<sm') {
      max-width: 250px;
    }

    @include media('<xs') {
      margin-top: 1rem;
    }
  }

  nav {
    font-family: var(--fontTitle);
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    line-height: 1;
    display: flex;
    flex-direction: column;

    @include media('<lg') {
      font-size: clamp(1.5rem, 4vw, 2rem);
    }

    @include media('<sm') {
      width: 100%;
      margin: 0 auto;
    }

    a {
      margin-bottom: 1rem;
    }
  }
}
