/**
* ----------------------
* Un.titled
* Molecules - People sidebar
* ----------------------
*/

/**
* Config
*/

/**
* Styling
*/
.m-people-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__links {
    width: 100%;

    @include media('<xs') {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  img {
    margin-top: var(--photoOffset);
    margin-bottom: 2rem;
    border-radius: 50%;
    max-width: 330px;
    width: 100%;
    display: block;

    @include media('<1600px') {
      margin-top: 0;
    }
  }

  a {
    @include linkReset;
    @include bg-img(20px);
    display: flex;
    align-items: center;
    border-top: 1px solid var(--c-primary);
    padding: 0.5rem 0 0.5rem 32px;
    width: 100%;
    background-position: left center;
    background-image: url('../img/link.svg');

    @include media('<xs') {
      border-top: 0;
      padding: 0.75rem;
      width: auto;
      margin: 0.25rem;

      span {
        display: none;
      }
    }

    svg {
      justify-self: center;
    }

    &:hover {
      span {
        text-decoration: underline;
      }

      @include media('<xs') {
        opacity: 0.7;
      }
    }

    &[href*='mailto'] {
      background-image: url('../img/email.svg');
    }
    &[href*='tel'] {
      background-image: url('../img/phone.svg');
    }
    &[href*='twitter'] {
      background-image: url('../img/twitter.svg');
    }
    &[href*='facebook'] {
      background-image: url('../img/facebook.svg');
      background-size: auto 20px;
      background-position: 5px center;
    }
    &[href*='linkedin'] {
      background-image: url('../img/linkedin.svg');
    }
  }
}
