/**
* ----------------------
* Un.titled
* Molecules - Subnav
* ----------------------
*/

/**
* Config
*/

/**
* Styling
*/

ul.m-subnav {
  @include li-reset;

  ul {
    margin-top: 0.25rem;
    margin-bottom: 0;
    margin-left: 1rem;
  }

  // .current_page_ancestor > a,
  // .current_page_parent > a {
  //   font-weight: bold;
  // }
  // [aria-current='page'] {
  //   text-decoration: underline;
  // }

  a {
    @include linkReset;
    text-decoration: none;
    display: flex;
    align-items: center;
    min-height: 20px;

    span {
      text-decoration: none;
    }

    &[aria-current],
    &:hover {
      // text-decoration: underline;
      color: var(--c-red);

      span {
        text-decoration: none;
      }
    }
  }

  & > li > a {
    font-family: var(--fontBold);
    padding-bottom: 0.25rem;
    display: inline-block;
  }
}
