/**
* ----------------------
* Un.titled
* Template - Posts
* ----------------------
*/

/**
* Config
*/

/**
* Styling
*/
article {
  display: flex;
  flex-direction: column;
  align-items: center;

  // &:not(.o-teaser):not(.o-listing-teaser) {
  //   position: relative;
  //   z-index: 1;
  // }
}
