/**
 * ----------------------
 * Un.titled
 * Molecules - Accordions
 * ----------------------
 */

&__accordion {
  .accordion {
    border-bottom: 1px solid var(--c-primary);
  }
  .accordion__header {
    @include linkReset;
    display: flex;
    width: 100%;
    border: 0;
    background-color: transparent;
    text-align-last: left;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 0;
    border-top: 1px solid var(--c-primary);
    transition: all var(--transition);
    text-align: left;

    &::after {
      content: '';
      @include bg-img(contain);
      background-image: url('../img/plus.svg');
      height: 12px;
      width: 12px;
      min-width: 12px;
      transition: all var(--transition);
      visibility: visible;
      display: block;
      margin-left: 10px;
    }

    &:focus,
    &[aria-expanded='true'] {
      outline: none;
      background-color: rgba(0, 0, 0, 0.05);
      // padding-right: 0.75rem;
      &::after {
        transform: translateX(-10px);
      }
    }

    &[aria-expanded='true']::after {
      transform: translateX(-10px);
      background-image: url('../img/close-accordion.svg');
    }
  }

  .accordion__title {
    margin: 0;
  }

  .js-accordion__panel {
    display: none;
  }

  .accordion__panel {
    display: block;
    overflow: hidden;
    opacity: 1;
    transition: visibility 0s ease, max-height 0.2s ease, opacity 0.2s ease;
    max-height: 1000em;
    visibility: visible;
    transition-delay: 0s;

    &[aria-hidden='true'] {
      display: block;
      max-height: 0;
      opacity: 0;
      visibility: hidden;
      transition-delay: 0.2s, 0s, 0s;
    }

    p:first-child {
      margin-top: 1rem;
    }

    p:last-child {
      margin-bottom: 1rem;
    }
  }
}
