/**
 * ----------------------
 * Un.titled
 * Molecules - Citations
 * ----------------------
 */

&__citations {
  cite {
    font-style: normal;
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 0.5rem;
    align-items: start;
    margin-bottom: 2rem;

    @include media('<xs') {
      margin-bottom: 1rem;
    }

    a {
      @include linkReset;

      &:hover {
        color: var(--c-red);
      }
    }

    p a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
