/**
 * ----------------------
 * Un.titled
 * Molecules - Forms
 * ----------------------
 */

&__form {
  .gform_wrapper {
    ul {
      li.gfield {
        margin-top: 1.5rem;
      }
    }

    select,
    input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']) {
      padding: 0.75rem 1rem;

      @include media('<sm') {
        padding: 0.5rem 0.75rem;
      }
    }

    .field_sublabel_above .ginput_complex.ginput_container label,
    .field_sublabel_above div[class*='gfield_date_'].ginput_container label,
    .field_sublabel_above div[class*='gfield_time_'].ginput_container label,
    .field_sublabel_below .ginput_complex.ginput_container label,
    .field_sublabel_below div[class*='gfield_date_'].ginput_container label,
    .field_sublabel_below div[class*='gfield_time_'].ginput_container label {
      font-size: var(--fontSmall);
      letter-spacing: 0;
      margin-top: 0.25rem;
    }

    ul.gfield_checkbox li input[type='checkbox'],
    ul.gfield_radio li input[type='radio'] {
      height: 25px !important;
      width: 25px !important;
      padding: 0 !important;
      margin-right: 0.25rem;
    }

    .gform_button {
      --btnBg: var(--c-primary);
      --btnColour: var(--c-white);
      @include btn;

      &:hover {
        @include btn-hover;

        --btnColour: var(--c-primary);
        --btnBg: var(--c-white);
      }
    }
  }
}
