/**
 * ----------------------
 * Un.titled
 * Molecules - Image
 * ----------------------
 */

&__image {
  position: relative;
  padding-bottom: var(--captionHeight);

  figure {
    padding: 0 var(--gutter);
  }

  figcaption {
    width: var(--captionWidth);
    position: absolute;
    left: var(--captionOffset);
    padding-right: var(--captionPadding);
    max-width: calc(100% - 30px);
  }

  a {
    @include linkReset;
  }
}
