/**
 * ----------------------
 * Un.titled
 * Molecules - Tables
 * ----------------------
 */

&__table {
  table {
    width: 100%;
    text-align-last: left;
    text-align: left;
    border-spacing: 2px;
    border-collapse: unset;

    th {
      background-color: #0e3034;
      color: #fff;
      font-weight: bold;
    }

    td {
      background-color: #a4dbe8;
      transition: 0.2s var(--easing);
    }

    td,
    th {
      padding: 0.5rem;
    }

    tr {
      &:hover td {
        background-color: #fff;
        cursor: crosshair;
      }
    }
  }
}
